
@Html.Partial("Partial/1header")
@Html.Partial("Partial/2about")
@Html.Partial("Partial/3service")
@Html.Partial("Partial/4content")
<!-- section end -->
<!-- section start -->
<!-- ================ -->
@*<div class="default-bg space blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Let's Work Together!</h1>
                </div>
            </div>
        </div>
    </div>*@
<!-- section end -->
<!-- section start -->
<!-- ================ -->
@*@{Html.RenderPartial("Partial/portfolio")*@
<!-- section end -->
<!-- section start -->
<!-- ================ -->
@*@Html.Partial("Partial/clients")*@
@*<!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="default-bg space">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">10000+ Happy Clients!</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- footer start -->
    <!-- ================ -->*@
@*<footer id="footer">*@

    <!-- .footer start -->
    <!-- ================ -->
    @*@Html.Partial("Partial/contacts")*@
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    @*<div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © @DateTime.Now.Year by ch1seL.</p>
                </div>
            </div>
        </div>
    </div>*@
    <!-- .subfooter end -->

@*</footer>*@
<!-- footer end -->
